<% if @mes_success %>
  <% define_color_status_subject @subject %>
  $('.row_subject_<%= @subject.id %> .status_banner').html('<span class="label label-<%= @class %>"><%= t "subjects.status.#{@subject.status}" %></span>');
  $('.row_subject_<%= @subject.id %> .btn-group').html('<%= link_to edit_admin_subject_path(@subject), class: "btn btn-xs btn-default", data: {toggle: "tooltip"}, title: "Edit" do %><i class="fa fa-pencil"></i><% end %><%= link_to admin_change_status_subject_path(@subject), method: :patch, class: "btn btn-xs btn-#{@class}", data: {confirm: "Bạn chắc chắn muốn khóa / mở khóa môn học này?"}, title: @title, remote: true do %><i class="fa fa-<%= @icon %>"></i><% end %>');
  <% if @subject.block? %>
    $('.row_subject_<%= @subject.id %>').addClass('danger');
    alertify.error('<%= @mes_success %>');
  <% else %>
    $('.row_subject_<%= @subject.id %>').removeClass('danger');
    alertify.success('<%= @mes_success %>');
  <% end %>
<% elsif @mes_danger %>
  alertify.error('<%= @mes_danger %>');
<% end %>
