<div class="nav-tabs-custom">
  <div class="nav nav-tabs nav-user">
    <li class="active"><a href="#profile" data-toggle="tab">Hồ sơ</a></li>
  </div>
  <div class="tab-content">
    <div class=" profile-container clearfix active">
      <div class="col-md-12">
        <div class="box" id="main-profile-1">
          <% if can? :update, @user %>
            <%= link_to edit_admin_user_path(@user), class: "btn btn-xs btn-default cog-profile", remote: true do %>
              <i class="fa fa-cog"></i>
            <% end %>
          <% end %>
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Họ tên</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td>Giới tính</td>
                <td><%= @user.gender %></td>
              </tr>
              <tr>
                <td>Ngày sinh</td>
                <td><%= @user.birthday %></td>
              </tr>
              <tr>
                <td>Đại học</td>
                <td><%= @user.university %></td>
              </tr>
              <tr>
                <td>Chương trình</td>
                <td><%= @user.program %></td>
              </tr>
              <tr>
                <td>Bắt đầu thực tập</td>
                <td><%= @user.created_at %></td>
              </tr>
              <tr></tr>
              <tr>
                <td>Mô tả</td>
                <td>
                  <p></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
