<% @answers = question.answers.wrong.get_random.limit 3 %>
<% @answers += question.answers.right.get_random.limit(1) %>
<div class="col-xs-12">
  <label><%= @qs_stt %>. <%= question.text.capitalize %></label>
  <%= hidden_field_tag 'answers_attributes[list]', @answers %>
  <%= collection_radio_buttons('answers_attributes[answer]', question.id, @answers.shuffle, :id, :text) do |b| %>
    <div class="radio">
      <%= b.label { b.radio_button + b.text } %>
    </div>
  <% end %>
</div>
<% @qs_stt+=1 %>
