<div class="exam-test">
  <div class="row title">
    <div class="col-xs-12">
      <h1><%= @exam_lesson.lesson.name %> TEST</h1>
    </div>
  </div>
  <div class="row question">
    <%= form_for @exam_lesson, url: trainee_exam_lessons_path(@exam_lesson) do |f| %>
      <% @qs_stt = 1 %>
      <%= f.hidden_field :lesson_id, value: @exam_lesson.lesson_id %>
      <%= f.hidden_field :course_user_id, value: @exam_lesson.course_user_id %>
      <%= f.fields_for :list_question_answers, @list_question_answers do |lqa| %>
        <%= render 'list_question_answer_fields', f: lqa, question: lqa.object.question %>
      <% end %>
      <div class="col-xs-12 btnsubmit">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>
<div id="countTime"></div>
