<% provide :title, "Đăng nhập" %>
<div class="wrapper-login animation-fadeIn" id="login-prime" style="display: block;">
  <div class="container-login">
    <%= link_to root_path, class: "cancel-login" do %><i class="fa fa-close"></i><% end %>
    <h1>Chào Mừng</h1>
    <%= form_for resource, as: resource_name, url: session_path(resource_name),
      :html => {:class => "form-login"} do |f| %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <i class="fa fa-close" aria-hidden="true"></i>
          </button>
          <hr class="message-inner-separator">
          <p><%= message %></p>
        </div>
      <% end %>

      <%= f.email_field :email, placeholder: "Tên đăng nhập / Email", class: "input-login"%>
      <%= f.password_field :password, placeholder: "Mật khẩu", class: "input-login" %>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Ghi nhớ đăng nhập" %>
        </div>
      <% end -%>
      <%= f.submit "Đăng Nhập", class: "button-login" %>
      <br>
      <%= link_to "Bạn quên mật khẩu?", new_password_path(resource_name) %><br />
    <% end %>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
