<div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="active item">
        <section class="site-section site-section-light themed-background-default">
          <div class="container">
            <p class="text-center animation-fadeIn">
              <%= image_tag @company.image_1.url %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light themed-background-fire">
          <div class="container">
            <p class="text-center animation-fadeInLeft">
              <%= image_tag @company.image_2.url %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light themed-background-amethyst">
          <div class="container">
            <p class="text-center animation-hatch">
              <%= image_tag @company.image_3.url %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light themed-background-modern">
          <div class="container">
            <p class="text-center animation-fadeIn360">
              <%= image_tag @company.image_4.url %>
            </p>
          </div>
        </section>
      </div>
    </div>
    <!-- END Wrapper for slides -->
    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
      <span>
        <i class="fa fa-chevron-left"></i>
      </span>
    </a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next">
      <span>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <!-- END Controls -->
</div>
<section id="registry-div" class="wrapper-intro style3 special">
  <div class="head-section">
    <div class="major">
      <h2>Đăng ký thực tập</h2>
      <p>Hãy nhập đầy đủ các thông tin quan trọng dưới đây!</p>
    </div>
  </div>
  <div class="body-section">
    <%= form_for @registration, remote: true do |f| %>
      <div class="row uniform">
        <div class="small">
          <%= f.text_field :name, placeholder: "Họ tên người đăng ký", class: "form-control del_ip" %>
          <span class="candidate-name-invalid error-message"></span>
        </div>
        <div class="small">
          <%= f.text_field :email, placeholder: "Địa chỉ email đăng ký", class: "form-control del_ip" %>
          <span class="candidate-email-invalid error-message"></span>
        </div>
        <div class="small">
          <%= f.text_field :phone, placeholder: "Số điện thoại người đăng ký", class: "form-control del_ip" %>
          <span class="candidate-phone-invalid error-message"></span>
        </div>
        <div class="small">
          <%= f.text_field :position, placeholder: "Vị trí đăng ký thực tập", class: "form-control del_ip" %>
          <span class="candidate-position-invalid error-message"></span>
        </div>
        <div class="large">
          <%= f.text_area :message, placeholder: "Tin nhắn", rows: "6", class: "del_ip" %>
          <span class="candidate-name-message error-message"></span>
        </div>
        <div class="large">
          <label class="text-special">Tệp CV</label>
          <span><%= f.file_field :cv_url, class: "transparent absolute del_ip", style: "color: #fff" %></span>
          <span class="note-cv">Chỉ cho phép file PDF, DOC hoặc DOCX</span><br>
          <span class="candidate-cv_url-invalid error-message" style="margin-left: 78px;"></span>
        </div>
        <div>
          <ul class="actions">
            <!-- <input value="Send Message" class="special-btn" type="submit"> -->
            <%= f.submit "Send Message", class: "special-btn load-spinner" %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</section>
<!-- Contact section -->
<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark" id="contact-div">
  <div class="container">
    <h1 class="text-center animation-slideDown"><i class="fa fa-envelope"></i> <strong>Liên hệ chúng tôi</strong></h1>
    <h2 class="h3 text-center animation-slideUp">Chúng tối rất sẵn lòng để trả lời các câu hỏi và làm việc cùng nhau!</h2>
  </div>
</section>
<!-- END Intro -->
<!-- Google Map -->
<!--  <section class="site-content">
    <div id="gmap" style="height: 350px;"></div>
  </section> -->
<!-- END Google Map -->
<!-- Contact -->
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 site-block">
        <div class="site-block">
          <h3 class="h2 site-heading"><strong><%= @company.name.capitalize %></strong></h3>
          <address>
            Địa chỉ: <%= @company.address %><br>
            Thị trấn/ Thành phố: <%= @company.city %><br>
            <i class="fa fa-phone"></i> <%= @company.phone %><br>
            <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)"><%= @company.email %></a>
          </address>
        </div>
        <div class="site-block">
          <h3 class="h2 site-heading"><strong>Giới thiêu</strong></h3>
          <p class="remove-margin">
            <%= @company.description %>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-8 site-block">
        <h3 class="h2 site-heading"><strong>Liên hệ</strong></h3>
        <form action="contact.html#form-contact" method="post" id="form-contact">
          <div class="form-group">
            <label for="contact-name">Tên của bạn</label>
            <input type="text" id="contact-name" name="contact-name" class="form-control form-control-text input-lg" placeholder="Your name..">
          </div>
          <div class="form-group">
            <label for="contact-email">Email</label>
            <input type="text" id="contact-email" name="contact-email" class="form-control form-control-text input-lg" placeholder="Your email..">
          </div>
          <div class="form-group">
            <label for="contact-message">Nội dung tin nhắn</label>
            <textarea id="contact-message" name="contact-message" rows="10" class="form-control form-control-text input-lg" placeholder="Let us know how we can assist.."></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary">Gửi Tin nhắn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- END Contact -->
<div class="wrapper-login" id="login-prime">
  <div class="container-login">
    <button id="cancel-button" class="cancel-login"><i class="fa fa-close"></i></button>
    <h1>Xin chào</h1>
    <%= form_for :user, url: user_session_path(@user), method: :post, :html => {:class => "form-login"} do |f| %>
      <%= f.email_field :email, placeholder: "Tên đăng nhập hoặc email", class: "input-login" %>
      <%= f.password_field :password, placeholder: "Mật khẩu", class: "input-login" %>
      <%= f.submit "Đăng nhập", class: "button-login" %>
    <% end %>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
 <style type="text/css">
   .error-message {
    color: #ff4646;
    float: left;
    padding-top: 5px;
}
 </style>
