<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-table"></i>Datatables
      <br>
        <small>HTML tables can become fully dynamic with cool features!</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Tables</li>
  <li><a href="">Datatables</a></li>
</ul>
<div class="block full">
  <div class="block-title" id="btn-filter-container">
    <h2><strong>Tài Khoản</strong></h2>
    <%= link_to "Tất cả", admin_users_path,class: "btn-filter active", remote: true %>
    <%= link_to "Admins", admin_users_path(type: "admin"),class: "btn-filter", remote: true %>
    <%= link_to "Trainers", admin_users_path(type: "trainer"),class: "btn-filter", remote: true %>
    <%= link_to "Trainees", admin_users_path(type: "trainee"),class: "btn-filter", remote: true %>
    <%= link_to "Đã khóa", admin_users_path(type: "block"),class: "btn-filter", remote: true %>
  </div>
  <div class="table-responsive" id="table-content">
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">
            <i class="gi gi-user"></i>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Program</th>
          <th>Permission</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "user", collection: @users, as: :user %>
      </tbody>
    </table>
    <div style="float: left;">
      Download CSV:
      <%= link_to "Tất cả", admin_user_export_path(format: "csv", type: "all") %> |
      <%= link_to "Trainers", admin_user_export_path(format: "csv", type: "trainer") %> |
      <%= link_to "Trainees", admin_user_export_path(format: "csv", type: "trainee") %> |
      <%= link_to "Admins", admin_user_export_path(format: "csv", type: "admin") %>
      <br>Download Excel:
      <%= link_to "Tất cả", admin_user_export_path(format: "xls", type: "all") %> |
      <%= link_to "Trainers", admin_user_export_path(format: "xls", type: "trainer") %> |
      <%= link_to "Trainees", admin_user_export_path(format: "xls", type: "trainee") %> |
      <%= link_to "Admins", admin_user_export_path(format: "xls", type: "admin") %>
    </div>
    <div style="float: right;">
      <%= form_tag admin_user_import_path, style: "float: right;", multipart: true do %>
        <%= file_field_tag :file, style: "float: left;", class: "btn" %>
        <%= submit_tag "Import", style: "float: right;", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){ TablesDatatables.init(); });
  $(function(){ btnFilterClick.init(); });
</script>
