<div class="form-group nested-fields link_fields">
  <div>
    <div class="col-xs-6 <%= check_errors @course, :"links.name" %>">
      <%= f.label :name, class: "control-label" do %>Tên liên kết <span class="text-danger">*</span><% end %>
      <%= f.text_field :name, class: "form-control ui-wizard-content" %>
    </div>
    <div class="col-xs-6 <%= check_errors @course, :"links.link" %>">
      <%= f.label :link, class: "control-label" do %>Liên kết <span class="text-danger">*</span><% end %>
      <%= f.text_field :link, class: "form-control ui-wizard-content" %>
    </div>
    <%= link_to_remove_association f do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </div>
  <div>
    <div class="col-xs-12 <%= check_errors @course, :"links.description" %>">
      <%= f.label :description, "Mô tả", class: "control-label" %>
      <%= f.text_area :description, style: "max-width: 100%", class: "form-control ui-wizard-content" %>
    </div>
  </div>
</div>
