<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-table"></i>Datatables
      <br>
        <small>HTML tables can become fully dynamic with cool features!</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Tables</li>
  <li><a href="">Datatables</a></li>
</ul>
<div class="block full">
  <div class="block-title" id="btn-filter-container">
    <h2><strong>Khóa Học</strong></h2>
    <%= link_to "Tất cả", admin_courses_path,class: "btn-filter active", remote: true %>
    <%= link_to "Khởi tạo", admin_courses_path(type: "init"),class: "btn-filter", remote: true %>
    <%= link_to "Đang tiến hành", admin_courses_path(type: "in_progress"),class: "btn-filter", remote: true %>
    <%= link_to "Kết thúc", admin_courses_path(type: "finish"),class: "btn-filter", remote: true %>
    <%= link_to "Đã khóa", admin_courses_path(type: "block"),class: "btn-filter", remote: true %>
  </div>
  <div class="table-responsive" id="table-content">
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th>Name</th>
          <th>Program</th>
          <th>Language</th>
          <th>Date Start</th>
          <th>End Start</th>
          <th>Status</th>
          <th class="text-center">##</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "course", collection: @courses, as: :course %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(function(){ TablesCourses.init(); });
  $(function(){ btnFilterClick.init(); });
</script>

