<% provide :title, "Khóa thực tập" %>
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-table"></i>Danh sách khóa thực tập
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Khóa thực tập</li>
  <li><a href="">Danh sách</a></li>
</ul>
<div class="block full">
  <div class="block-title" id="btn-filter-container">
    <h2><strong>Khóa thực tập</strong></h2>
    <div class="btn-group btn-group-sm pull-right">
      <%= link_to "Khởi tạo", admin_courses_path(type: "init"),
        class: "btn btn-primary btn-filter active", remote: true %>
      <%= link_to "Đang tiến hành", admin_courses_path(type: "in_progress"),
        class: "btn btn-primary btn-filter", remote: true %>
      <%= link_to "Kết thúc", admin_courses_path(type: "finish"),
        class: "btn btn-primary btn-filter", remote: true %>
      <%= link_to "Đã khóa", admin_courses_path(type: "block"),
        class: "btn btn-primary btn-filter", remote: true %>
    </div>
  </div>
  <div class="table-responsive" id="table-content">
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th>Khóa thực tập</th>
          <th>Chương trình</th>
          <th>Ngôn ngữ</th>
          <th>Bắt đầu</th>
          <th>Kết thúc</th>
          <th>Trạng thái</th>
          <th>Chủ nhiệm</th>
          <th class="text-center">##</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "course", collection: @courses, as: :course %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <div style="float: left;">
      Download CSV:
      <%= link_to "Tất cả", admin_course_export_path(format: "csv", type: "all") %> |
      <%= link_to "Khởi tạo", admin_course_export_path(format: "csv", type: "init") %> |
      <%= link_to "Đang tiến hành", admin_course_export_path(format: "csv", type: "in_progress") %> |
      <%= link_to "Kết thúc", admin_course_export_path(format: "csv", type: "finish") %> |
      <%= link_to "Đã khóa", admin_course_export_path(format: "csv", type: "block") %>
      <br>Download Excel:
      <%= link_to "Tất cả", admin_course_export_path(format: "xls", type: "all") %> |
      <%= link_to "Khởi tạo", admin_course_export_path(format: "xls", type: "init") %> |
      <%= link_to "Đang tiến hành", admin_course_export_path(format: "xls", type: "in_progress") %> |
      <%= link_to "Kết thúc", admin_course_export_path(format: "xls", type: "finish") %> |
      <%= link_to "Đã khóa", admin_course_export_path(format: "xls", type: "block") %>
    </div>
    <div style="float: right;">
      <%= form_tag admin_course_import_path, style: "float: right;", multipart: true do %>
        <%= file_field_tag :file, style: "float: left;", class: "btn" %>
        <%= submit_tag "Import", style: "float: right;", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){ TablesCourses.init(); });
  $(function(){ btnFilterClick.init(); });
</script>

