<!DOCTYPE html>
<html>
  <head>
    <title>GraduationProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <script type="text/javascript">
      <% flash.each do |message_type, message| %>
        <% if message_type == "success" %>
          alertify.success('<%= message %>');
       <% elsif message_type == "danger" %>
          alertify.error('<%= message %>');
        <% else %>
          alertify.notice('<%= message %>');
        <% end %>
      <% end %>
    </script>
    <div id="page-wrapper">
      <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
      <%= render "layouts/layout_primary/preloader" %>
      <!-- END Preloader -->
      <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Alternative Sidebar -->
        <%= render "layouts/layout_primary/sidebar_alt" %>
        <!-- END Alternative Sidebar -->
        <!-- Main Sidebar -->
        <%= render "layouts/layout_primary/sidebar" %>
        <!-- END Main Sidebar -->
        <div id="main-container">
          <!-- Header -->
          <%= render "layouts/layout_primary/header" %>
          <!-- END Header -->
          <!-- Page content -->
          <div id="page-content">
            <%= yield %>
          </div>
          <!-- END Page Content -->
          <!-- Footer -->
          <%= render "layouts/layout_primary/footer" %>
          <!-- END Footer -->
    </div>
    <a href="#" id="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></a>
  </body>
</html>
