<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "logo.png" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'exam', media: 'all', "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag 'exam', "data-turbolinks-track": "reload" %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
<body>
  <script type="text/javascript">
    <% flash.each do |message_type, message| %>
      <% if message_type == "success" %>
        alertify.success('<%= message %>');
     <% elsif message_type == "danger" %>
        alertify.error('<%= message %>');
      <% else %>
        alertify.notify('<%= message %>');
      <% end %>
    <% end %>
  </script>
  <div class="page-content">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
